<template>
<div>
  <div class="menu" v-show="tipoReporte=='menu'" >
    <img alt="Vue logo" src="../assets/logo.png">
    <h1> Elije cómo deseas colaborar </h1>
    <p>
      Seleccione una opción
    </p>
    <button @click="tipoReporte='necesito'">Necesito</button>
    <br>
    <br>
    <button @click="tipoReporte='ayudo'">Ayudo</button>
    <br>
    <br>
    Ustede seleccionó: <br>
    {{tipoReporte}}
  </div>

  <div class="ayudo" v-show="tipoReporte=='ayudo'" >
  <h1> Como puedes ayudar </h1>
    <select name="necesidad">
      <option value="value1">Entregar Comida</option>
      <option value="value2" selected>Entregar Comida</option>
      <option value="value2" selected>Mobilizar Enfermos</option>
    </select>

    <br>
    <br>
    <button @click="tipoReporte='graciasAyudo'">Enviar</button>

  </div>

  <div class="menu" v-show="tipoReporte=='necesito'" >
    <img alt="Vue logo" src="../assets/logo.png" style="height: 6rem">

    <h1> ¿ Que necesitas ? </h1>
    <select name="necesidad">
      <option value="value1">Agua</option>
      <option value="value2" selected>Alimentos</option>
      <option value="value2" selected>Medicina</option>
    </select>
    <h1> ¿ Donde estás ? </h1>
    <button @click="tipoReporte='mapaNecesito'">Seleccionar Ubicación</button>

    <h1> ¿ Detalles ? </h1>

    <textarea id="w3mission" rows="5" cols="25" />

<!--    <input   placeholder="Detalles de lo que necesitas" />-->

    <div>
      <button @click="enviarSolicitudNecesito">ENVIAR REPORTE</button>
    </div>

<br>
    <div>
      <button @click="tipoReporte='menu'" > Volver al menú </button>
    </div>
  </div>

  <div class="menu" v-show="tipoReporte=='mapaNecesito'" >
    <h1>Marcar su ubicación</h1>



    <div>
      <button @click="cargarUbicacionNecesito">Cargar por GPS</button>
    </div>

    {{ubicacionNecesito}}

    <div v-show="ubicacionNecesito!=''">
      <button @click="tipoReporte='necesito'">Seleccionar ubicación</button>
    </div>


  </div>

  <div class="menu" v-if="tipoReporte=='graciasAyudo'" >
    <h1> GRACIAS </h1>

    <button @click="tipoReporte='menu'" > Volver al menú </button>

  </div>



  <div class="menu" v-if="tipoReporte=='graciasNecesito'" >
    <h1> GRACIAS </h1>

    <button @click="tipoReporte='menu'" > Volver al menú </button>

  </div>

</div>




</template>

<script>
export default {
  name: 'barrios',
  data() {
    return {
      tipoReporte: 'menu',
      ubicacionNecesito: '',
    }
  },
  methods: {
    enviarSolicitudNecesito() {
      console.log('enviarSolicitudNecesito')
      this.tipoReporte='graciasNecesito'
    },
    cargarUbicacionNecesito(){
      this.$getLocation({
        enableHighAccuracy: true, //defaults to false
        timeout: Infinity, //defaults to Infinity
        maximumAge: 0 //defaults to 0

      })
              .then(coordinates => {
                this.ubicacionNecesito = coordinates
                console.log(coordinates);
              });
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
